body{
  margin: 0
}

form.signup,
form.login {
  margin-top: 50px;
}

.member-name{
  font-size: 18px;
  align-content: right
}

img{
  width: 100px;
  height: 100px;
}

.row{
  width: 100%;
  text-align: center;
  background-color: aquamarine
}
