body{
  margin: 0
}

form.signup,
form.login {
  margin-top: 50px;
}

.member-name{
  font-size: 18px;
  align-content: right
}

img{
  width: 100px;
  height: 100px;
}

.recipe{
  width: 100%;
  text-align: center;
  background-color: aquamarine;
  margin-top: 8px;
  margin-bottom: 8px;
}

.picRecipe{
  width: 100%;
  text-align: center;
  background-color: rgb(255, 127, 127);
  margin-top: 8px;
  margin-bottom: 8px;
}

.selectRecipe{
  width: 100%;
  height: 50%;
}

h6{
  font-size: 0px
}
